*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}
p{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 0;
}