#btn_main{
    border: none;
    background-color: $main-color;
    padding: 15px 25px;
    border-radius: 23px;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
    }
}