
#nav{
    .nav_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;
        padding: 13px 100px;
        color: #fff;
        font-weight: 400;
        p{
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }

    .nav_middle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
        border-bottom: 1px solid #ccc;
        .contact_phone{
            display: flex;
            align-items: center;
            div{
                background-color: $main-color;
                width: 44px;
                height: 42px;
                padding: 10px;
                border-radius: 6px;
                font-size: 1.3rem;
                color: #fff;
                display: grid;
                place-items: center;                
                // text-align: center;

            }
        }
        .nav_info{
            ul{
                display: flex;
                align-items: center;

                i{
                    color: $secondary-color;
                    padding:10px ;
                    font-size: 1.1rem;
                }
            }
            
        }
    }

    .nav_bottom{
        border-bottom:1px solid $secondary-color;
        .navbar_list{
            .list_item{
                position: relative;

                &:hover .submenu{
                    position: absolute;
                    background-color: $main-color;
                    padding: 20px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease 0s;
                    transform: scaleY(1);
                    // transform-origin: top center;
                    // transform: translateY();
                    // animation: translateY 300ms 120ms ease-in-out forwards;
                }


                a{
                    text-decoration: none;
                    color: $secondary-color;
                    font-size: 0.9rem;
                    display: block;
                }

                .submenu{
                    position: absolute;
                    padding: 20px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s ease 0s;
                    // transform: translateY(0);
                    transform: scale(0);
                    
                    .dropdown-item{
                        padding-bottom: 10px;
                        a{
                            font-size: 1.08rem;
                        }
                    }  
                }

                // @keyframes translateY {
                //     0%{
                //         opacity: 0;
                //         transform: translateY(60px);
                //     }
                //     80%{
                //         opacity: 0;
                //         transform: translateY(-5px);
                //     }
                //     100%{
                //         opacity: 1;
                //         transform: translateY(0px);
                //     }
                // }
                
            }
        }
    }
}

#overlay{
position: fixed; 
  display: none;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  color: #fff;
  &.active{
    display: block;
    }
  .inp_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
        p{
            font-size: 1.3rem;
        }
        input{
            border: none;
            outline: none;
            background: none;
            padding: 20px 90px;
            font-size: 2rem;
            border-bottom: 1px solid #fff;

            &::placeholder{
                text-align: center;
                color: $secondary-color;
            }
        }
    }
   
}