@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

::selection {
  background: #abd373;
}

* {
  font-family: "Rubik", sans-serif;
}

#nav .nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #abd373;
  padding: 13px 100px;
  color: #fff;
  font-weight: 400;
}
#nav .nav_top p {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#nav .nav_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border-bottom: 1px solid #ccc;
}
#nav .nav_middle .contact_phone {
  display: flex;
  align-items: center;
}
#nav .nav_middle .contact_phone div {
  background-color: #abd373;
  width: 44px;
  height: 42px;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.3rem;
  color: #fff;
  display: grid;
  place-items: center;
}
#nav .nav_middle .nav_info ul {
  display: flex;
  align-items: center;
}
#nav .nav_middle .nav_info ul li a {
  text-decoration: none;
}
#nav .nav_middle .nav_info ul li a i {
  color: #4c4c4c;
  padding: 10px;
  font-size: 1.1rem;
}
#nav .nav_middle .nav_info ul li a .fa-bars {
  display: none;
}
#nav .nav_bottom .navbar_list .list_item {
  position: relative;
}
#nav .nav_bottom .navbar_list .list_item:hover .submenu {
  position: absolute;
  background-color: #abd373;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease 0s;
  transform-origin: top center;
  transform: scaleY(1);
}
#nav .nav_bottom .navbar_list .list_item a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 0.9rem;
  display: block;
}
#nav .nav_bottom .navbar_list .list_item .submenu {
  position: absolute;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: scaleY(0);
  transform-origin: top center;
}
#nav .nav_bottom .navbar_list .list_item .submenu .dropdown-item {
  padding-bottom: 10px;
}
#nav .nav_bottom .navbar_list .list_item .submenu .dropdown-item a {
  font-size: 1.08rem;
  text-transform: lowercase;
}
#nav .nav_bottom .navbar_list .list_item .shop_menu h4 {
  font-size: 1rem;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
  color: #fff;
}
#overlay.active {
  display: block;
}
#overlay .inp_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#overlay .inp_div p {
  font-size: 1.3rem;
}
#overlay .inp_div input {
  border: none;
  outline: none;
  background: none;
  padding: 20px 90px;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}
#overlay .inp_div input::placeholder {
  text-align: center;
  color: #4c4c4c;
}

.side_bar {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 400px;
  transform: translateX(-400px);
  height: 100%;
  transition: 0.5s;
}
.side_bar .side_bar_content {
  padding: 70px 0;
  position: relative;
}
.side_bar .side_bar_content .side_nav_close {
  color: #fff;
  text-align: right;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 30px;
}
.side_bar .side_bar_content .contact_phone {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.side_bar .side_bar_content .contact_phone div {
  background-color: #abd373;
  width: 44px;
  height: 42px;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.3rem;
  color: #fff;
  display: grid;
  place-items: center;
}
.side_bar .side_bar_content .contact_phone .phone_num {
  color: #fff;
  font-size: 1.2rem;
}
.side_bar .side_bar_content .side_bar_select {
  padding: 20px 30px;
  display: flex;
  gap: 20px;
}
.side_bar .side_bar_content .side_bar_select div {
  cursor: pointer;
  color: #fff;
}
.side_bar .side_bar_content .side_bar_select div a {
  color: #fff;
}
.side_bar .side_bar_content .side_nav {
  padding: 20px;
}
.side_bar .side_bar_content .side_nav .navbar_list .list_item {
  color: #fff;
  font-size: 0.9rem;
  padding-bottom: 10px;
  cursor: pointer;
}
.side_bar .side_bar_content .side_nav .navbar_list .list_item .submenu {
  overflow: hidden;
  height: 0px !important;
  padding: 0;
  transition: all 0.4s ease;
}
.side_bar .side_bar_content .side_nav .navbar_list .list_item .submenu.active {
  height: 100px !important;
  transition: all 0.4s ease;
  height: 0;
  background-color: #3d3d3d;
  padding: 10px;
}
.side_bar .side_bar_content .side_nav .navbar_list .list_item a {
  text-decoration: none;
  color: inherit;
}
.side_bar.side_bar_active {
  transform: translateX(0);
}

@media screen and (max-width: 992px) {
  #nav .nav_top {
    display: none;
  }
  #nav .nav_middle {
    padding: 30px;
  }
  #nav .nav_middle .contact_phone {
    background-color: aqua;
    display: none;
  }
  #nav .nav_middle .nav_info ul li a .fa-users {
    display: none;
  }
  #nav .nav_middle .nav_info ul li a .fa-heart {
    display: none;
  }
  #nav .nav_middle .nav_info ul li a .fa-bars {
    display: block;
  }
  #nav .nav_bottom {
    display: none;
  }
}
#btn_main {
  border: none;
  background-color: #abd373;
  padding: 15px 25px;
  border-radius: 23px;
}
#btn_main a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}

#intro_section {
  background-image: url(https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg);
  position: relative;
}
#intro_section:hover .slider-buttons .fa-solid {
  visibility: visible;
  opacity: 1;
}
#intro_section .slider-buttons .fa-solid {
  visibility: none;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 0 15px;
}
#intro_section .slider-buttons .fa-solid:hover {
  background-color: #abd373;
  color: #fff;
}
#intro_section .slider-buttons .fa-angle-left {
  left: 0;
  top: 50%;
}
#intro_section .slider-buttons .fa-angle-right {
  right: 0;
  top: 50%;
}/*# sourceMappingURL=main.css.map */