#intro_section{
    background-image: url(https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg);
    position: relative;

    &:hover .slider-buttons .fa-solid{
        visibility: visible;
        opacity: 1;
    }

    .slider-buttons{
        .fa-solid{
            // display: none;
            visibility: none;
            opacity: 0;
            position: absolute;
            background-color: #fff;
            padding: 20px;
            cursor: pointer;
            transition: all .4s ease;
            margin:0 15px;
            &:hover{
                background-color: $main-color;
                color: #fff;
            }
        }
        .fa-angle-left{
            left: 0;
            top: 50%;
        }
        .fa-angle-right{
            right: 0;
            top: 50%;
        }
    }

   
}


