#nav {
  .nav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    padding: 13px 100px;
    color: #fff;
    font-weight: 400;
    p {
      text-transform: uppercase;
      font-size: 0.9rem;
    }
  }

  .nav_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    border-bottom: 1px solid #ccc;
    .contact_phone {
      display: flex;
      align-items: center;
      div {
        background-color: $main-color;
        width: 44px;
        height: 42px;
        padding: 10px;
        border-radius: 6px;
        font-size: 1.3rem;
        color: #fff;
        display: grid;
        place-items: center;
      }
      span{
        font-size: 1.2rem;
      }
    }
    .nav_info {
      ul {
        display: flex;
        align-items: center;
        li {
          a {
            text-decoration: none;
            i {
              color: $secondary-color;
              padding: 10px;
              font-size: 1.3rem;
            }
            .basketCounet{
              position: relative;
              .count{
                font-weight: normal;
                font-size: 0.9rem;
                color: #fff;
                display: block;
                background-color: #abd373;
                padding: 2px 4px;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 21px;
              }
            }
            .fa-bars {
              display: none;
            }
          }
        }
      }
    }
  }

  .nav_bottom {
    
    .navbar_list {
      .list_item {
        position: relative;

        &:hover .submenu_main {
          position: absolute;
          background-color: #fff;
          padding: 20px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          visibility: visible;
          opacity: 1;
          transition: all 0.5s ease 0s;
          transform-origin: top center;
          transform: scaleY(1);
        }
        &:hover > a{
          color: $main-color;
        }
        &::after{
          content: "";
          width: 0;
          height: 1px;
          background-color: $main-color;
          position: absolute;
          left: 0;
          top: 100%;
          transition: all 0.4s;
          z-index: 3;
        }
        &:hover::after {
          width: 100%;
        }

        a {
          text-decoration: none;
          color: $secondary-color;
          font-size: 0.9rem;
          display: block;
        }

        .submenu_main {
          position: absolute;
          padding: 20px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease 0s;
          transform: scaleY(0);
          transform-origin: top center;
          z-index: 2;
          .dropdown-item{
            padding-bottom: 10px;
            a {
              font-size: 1.08rem;
              text-transform: capitalize;
              transition: all .4s ease;

              &:hover{
                color: $main-color;
                transform: translateX(4px);
                transition: all .4s ease;
              }
            }
          }
        }

        .shop_menu {
          left: -90px;
          h6{
            font-size: 1rem;
            padding-left: 10px;
          }
          .dropdown-item {
            padding: 10px;
            a{
              font-size: 1rem;
            }
          }
          
        }
      }
    }
  }
}

//overlay start
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
  color: #fff;
  &.active {
    display: block;
  }
  .inp_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    p {
      font-size: 1.3rem;
    }
    input {
      border: none;
      outline: none;
      background: none;
      padding: 20px 90px;
      font-size: 2rem;
      border-bottom: 1px solid #fff;

      &::placeholder {
        text-align: center;
        color: $secondary-color;
      }
    }
  }
}
//overlay end

//side menu start
.side_bar {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 400px;
  transform: translateX(-400px);
  z-index: 22;
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: auto;
  transition: 0.5s;

  .side_bar_content {
    padding: 70px 0;

    position: relative;
    .side_nav_close {
      color: #fff;
      text-align: right;
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      cursor: pointer;
      position: absolute;
      top: 50px;
      right: 30px;
    }

    .contact_phone {
      padding: 20px 30px;
      display: flex;
      align-items: center;
      div {
        background-color: $main-color;
        width: 44px;
        height: 42px;
        padding: 10px;
        border-radius: 6px;
        font-size: 1.3rem;
        color: #fff;
        display: grid;
        place-items: center;
      }
      .phone_num {
        color: #fff;
        font-size: 1.2rem;
      }
    }

    .side_bar_select {
      padding: 20px 30px;
      display: flex;
      gap: 20px;

      div {
        cursor: pointer;
        color: #fff;

        a {
          color: #fff;
        }
      }
    }

    .side_nav {
      padding: 20px;
      .navbar_list {
        .list_item {
          color: #fff;
          font-size: 0.9rem;
          padding-bottom: 10px;
          cursor: pointer;
          .submenu {
            overflow: hidden;
            height: 0px !important;
            padding: 0;
            transition: all 0.4s ease;
          }
          .submenu.active {
            height: 100px !important;
            // overflow: hidden;
            transition: all 0.4s ease;
            height: 0;
            background-color: #3d3d3d;
            padding: 10px;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }

  &.side_bar_active {
    transform: translateX(0);
  }

  @media screen and (max-width:400px){
    width: 100%;
    
  }
}
//side menu end

@media screen and (max-width: 992px) {
  #nav {
    .nav_top {
      display: none;
    }
    .nav_middle {
        padding: 30px;
        border: none;
      .contact_phone {
        background-color: aqua;
        display: none;
      }

      .nav_info {
        ul {
          li {
            a {
              .fa-users {
                display: none;
              }
              .fa-heart {
                display: none;
              }
              .fa-bars {
                display: block;
              }
            }
          }
        }
      }
    }
    .nav_bottom {
      display: none;
    }
  }
}
